.container {
    display: inline-flex;
    flex: 1 1 300px;
    border-radius: 10px;
    border: 1px solid rgb(147, 160, 147);
    overflow: hidden;
}
.icon {
    padding: 0.8rem;
}
.searchBox {
    border: 0;
    flex: 1;

}
.searchButton {
    background-color:#2c5aa0 ;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 0.8rem;
    border-radius:8px ;
}